# Function

* Use to avoid repetation
* It is pre-defined set of statements

# Function has three Elements

* Function Declaration/Defining
* Function Body
* Function Call

# Types of Function

## Pre-defined

* That exists already in provided language
* Return Function
* Non Return Function


## User Defined

* Defined by the user
* Return Function
* Non Return Function

## Default Function

* Not require any argument (Example: today - function in excel that returns date but takes no argument) 

## Generator Function


## Lambda Function


## Recursive Function

# Function Declaration

* Function Name
* Function Parameter/Argument

## Function Argument

* When calling the function when we pass variables we use to say we are passing the argument

## Function Parameter

* When developing a function passing a variable called the parameter

# Function Body

* Set of statements

# Function Calling

* print (text1, text2,....)

# Parameters

## Required

* The function cannot be executed without these parameters

## Default/Optional

* Function can be executed without them and can complete task

# Return Vs Non - Return Function

# Non - Return Function

In [1]:
a = print("Pakistan")

Pakistan

In [3]:
print(a) # Hence print is non-return function bcz it doesnot store the value

None

# Return Function

In [4]:
s = str(123)

In [5]:
print (s) # It is returning the value

123

# User Defined Function

***************Syntax**************

    def Function_name (arg1,arg2,.....):
        statement - 1
        statement - 2
        statement - 3
    If we want to make it a return function will put return in the end otherwise not

In [7]:
def NED_Uni():                   # Function Define
    
# Function Body

    print ("Welcome to NED")      
    print("PGD")

In [9]:
NED_Uni()     # Function Calling

Welcome to NED
PGD

In [10]:
a = NED_Uni()

Welcome to NED
PGD

In [11]:
print (a) # Hence it is a non- return function

None

# Making the same Function as Return Function

In [17]:
def ukm():
    text = """ 
    Name: Shahzad
    Class: PGD
    """
    return text

In [18]:
ukm()

' \n    Name: Shahzad\n    Class: PGD\n    '

In [19]:
c = ukm ()

In [20]:
print (c) # So, it is a return function

    Name: Shahzad
    Class: PGD

# Required Argument

In [21]:
def add (num1, num2):
    return num1+num2

In [23]:
add (7, 2)

9

# Optional Argument

* These are those that if not been put during calling, the function will be executed
* For optional argument we will assign some value to variable during its defining stage

In [28]:
def add (num1=0, num2=0):
    #print(num1,num2)
    return num1+num2

In [29]:
print(add())
print(add(1,3))
print (add(-1,4))

0
4
3

# Required and Optional Arguments

In [35]:
def byni(rice,meat, tomato='0.5k'):
    a = f""" 
Boliling {rice}
Making Qourma with {meat} meat
 Mixing Tomato {tomato}
    
    *************Enjoy**********
    
    """
    
    return a

In [36]:
byni("basmati","chicken")

' \nBoliling basmati\nMaking Qourma with chicken meat\n Mixing Tomato 0.5k\n    \n    *************Enjoy**********\n    \n    '

In [37]:
print(byni("basmati","chicken"))

Boliling basmati
Making Qourma with chicken meat
 Mixing Tomato 0.5k

    *************Enjoy**********

In [38]:
print(byni("Selha","Beef", "10"))

Boliling Selha
Making Qourma with Beef meat
 Mixing Tomato 10

    *************Enjoy**********

# Unlimited Optional Argument

* Put asterik before the number

In [39]:
def sum1(num1, *num2):
    print(num1, num2)
    a = num1 + sum(num2)
    return a

In [41]:
print (sum1(1))
print (sum1(1,5))
print (sum1(1,9,5,7))

1 ()
1
1 (5,)
6
1 (9, 5, 7)
22

# Same Task can be done from Loop

In [42]:
def sum1(num1, *num2):
    b = num1
    for i in num2:
        b+=i
    return b

In [43]:
print (sum1(1))
print (sum1(1,5))
print (sum1(1,9,5,7))

1
6
22

In [44]:
def sum1(num1, num2, *nums):
    #print(num1, num2)
    a = num1 + num2 + sum(nums)
    return a

In [46]:
print (sum1(1,3))
print (sum1(1,5,8, 9))
print (sum1(1,9,5,7))

4
23
22

In [47]:
def sum1(*nums):
    #print(num1, num2)
    a = sum(nums)
    return a

In [48]:
print (sum1(1,3))
print (sum1(1,5,8, 9))
print (sum1(1,9,5,7))

4
23
22

# Using Asterik * with variable during calling of function

### It performs sequential unzipping

In [49]:
l = [1,9,8,6,3,5,7]
print (*l)

1 9 8 6 3 5 7

In [52]:
def sum1(num1, num2):
    a = num1 + num2 
    return a

In [54]:
l = [1,9,8,6,3,5,7]
print (sum1(*l))            # This error bcz i have provided more than required arguments

TypeError: sum1() takes 2 positional arguments but 7 were given

In [55]:
l = [1,9]
print (sum1(*l))

10

In [57]:
def nw(n1,n2,n3,n4):
    return (n1+n2+n3+n4)

In [58]:
l = [1,2,3,4,5,6,7]

print (nw(3,1, *l[-2:]))

17

# Key Word Arguments

In [62]:
def card(Roll_No, Name, Course):
    d = f"""
    Roll No. {Roll_No}
    Name {Name}
    Course {Course}
    
    """
    
    return d

In [64]:
print (card (1, "Shahzad", "PGD"))

    Roll No. 1
    Name Shahzad
    Course PGD

# We have a challange that when dealing with database we are not sure which data is coming first so it may print the sections of the card incorrectly

In [65]:
print (card ("Shahzad", "PGD", 4))

    Roll No. Shahzad
    Name PGD
    Course 4

# This issue can be solved with keyword argument

In [67]:
print (card (Name ="Shahzad", Course = "PGD", Roll_No=4))

    Roll No. 4
    Name Shahzad
    Course PGD

In [ ]:
d = [[1, "Shahzad", "PGD"] [2, "Hammad", "BK"] [3, "Fawad", "PD"]]

In [68]:
m = [1, "Shahzad", "PGD"]
print(card(*m))

    Roll No. 1
    Name Shahzad
    Course PGD

In [71]:
d = [[1, "Shahzad", "PGD"], [2, "Hammad", "BK"], [3, "Fawad", "PD"]]
for j in d:
    print (card(*j))

    Roll No. 1
    Name Shahzad
    Course PGD



    Roll No. 2
    Name Hammad
    Course BK



    Roll No. 3
    Name Fawad
    Course PD

# Dictionary

* For keyword argument in dictionary we will use double asterik (**)
* (**) Unzip key value pair

In [74]:
b = {"Name": "Shahzad",
     "Roll_No": 12034,
     "Course" : "PGD"
    }

print (card(**b))

    Roll No. 12034
    Name Shahzad
    Course PGD

# How to Develop Keyword Argument

In [80]:
def fun(n1,n2, **b):
    print (n1,n2,b)

In [81]:
fun(3,2, Name= 'Shahzad', Count= 50000)

3 2 {'Name': 'Shahzad', 'Count': 50000}

# Function with 2 required arguments, unlimited sequential values and key word argument

In [83]:
def ten(n1,n2, *l1, **d1):
    print(n1,n2, l1, d1)

In [85]:
ten(3,8, "a", 87, 9, Age=20, Name = "Sha")

3 8 ('a', 87, 9) {'Age': 20, 'Name': 'Sha'}

# Lambda Function

* Without Name
* One line Function
* No use before and after the line

In [ ]:
def sum1(num1, num2):
    return num1 + num2

# Conversion to Lambda Function

* Replace def ---> lambda
* Convert to single line because no return in lamda
* Lambda function always stores in a variable
* Call this function with that variable

In [86]:
b = lambda num1, num2: num1 + num2
b(3,2)

5

In [90]:
d = [[1, "Z", "A"],
     [2,"Y", "B"],
     [3, "X", "C"]]

sorted(d, key=lambda x:x[1])

[[3, 'X', 'C'], [2, 'Y', 'B'], [1, 'Z', 'A']]