# Loops

## We run loop on iterated datatype

In [3]:
l1 = ["Pak", "Hind", "Mil"]
'Pak' in l1

False

# For Loop

In [4]:
for abc in l1:  # abc is a local variable
    print(abc)

Pak
Hind
Mil

In [5]:
data = {"Name":"Shahzad", 
        "Father_Name": "M. Azam",
         "Age": 30,
          "Education": "PGDIDS",
           1: "University"}

for i in data:
    print (i)

Name
Father_Name
Age
Education
1

# data.item

In [6]:
data = {"Name":"Shahzad", 
        "Father_Name": "M. Azam",
         "Age": 30,
          "Education": "PGDIDS",
           1: "University"}

for i in data.items():
    print (i)

('Name', 'Shahzad')
('Father_Name', 'M. Azam')
('Age', 30)
('Education', 'PGDIDS')
(1, 'University')

In [10]:
data = {"Name":"Shahzad", 
        "Father_Name": "M. Azam",
         "Age": 30,
          "Education": "PGDIDS",
           1: "University"}

for i,j in data.items():
    print (i,j)

Name Shahzad
Father_Name M. Azam
Age 30
Education PGDIDS
1 University

In [16]:
data = {"Name":"Shahzad", 
        "Father_Name": "M. Azam",
         "Age": 30,
          "Education": "PGDIDS",
           1: "University"}

for i,j in data.items():
    print (f"Key is : {i} | Item is : {j}")

Key is : Name | Item is : Shahzad
Key is : Father_Name | Item is : M. Azam
Key is : Age | Item is : 30
Key is : Education | Item is : PGDIDS
Key is : 1 | Item is : University

In [20]:
data = {"Name":"Shahzad", 
        "Father_Name": "M. Azam",
         "Age": 30,
          "Education": "PGDIDS",
           1: "University"}

for i in data.values():
    print (i)

Shahzad
M. Azam
30
PGDIDS
University

In [21]:
k = "Pakistan Army Zindabad"
for i in k:
    print (i)

P
a
k
i
s
t
a
n

A
r
m
y

Z
i
n
d
a
b
a
d

# When working with database the completed task must be deleted and save in some other place for backup

## Types of Function

* Return Funtcion
* Non Return Function

# Return Function ----> Function whose output can be stores in some variable.
# Non-Return Function ---> Function whose output cannot be stores in some variable

# Pop Function ----> It delets and returns key:value pair

In [24]:
data = {"Name":"Shahzad", 
        "Father_Name": "M. Azam",
         "Age": 30,
          "Education": "PGDIDS",
           1: "University"}

for i in data.values():
    print (i)

{'Father_Name': 'M. Azam', 'Age': 30, 'Education': 'PGDIDS', 1: 'University'}
Deleted Shahzad

In [28]:
CT = []
data = {"Name":"Shahzad", 
        "Father_Name": "M. Azam",
         "Age": 30,
          "Education": "PGDIDS",
           1: "University"}

a = data.pop("Name")
b = CT.append(a)
print(CT)

a = data.pop("Age")
b = CT.append(a)
print(CT)

['Shahzad']
['Shahzad', 30]

# Pop Revoves automaticall form end/last

In [31]:
CT = []
data = {"Name":"Shahzad", 
        "Father_Name": "M. Azam",
         "Age": 30,
          "Education": "PGDIDS",
           1: "University"}

a = data.popitem()
b = CT.append(a)
print(CT)

[(1, 'University')]

In [32]:
print (data)

{'Name': 'Shahzad', 'Father_Name': 'M. Azam', 'Age': 30, 'Education': 'PGDIDS'}