# Naming Convention  

- It says that if variable is consisted upon 2 words put underscore (_) between them

# Version of Python

- 2.1.7 
-[Core_Structure] [New_Features] [Bugs_Fixing]
- [2]                   [1]           [7]

- In Python 2 ----> print = "Pakistan"
- In Python 3-----> print = ("Pakistan")

# Student Card 
- ISO has set the format of date as year-month-date, this is the international standard to be followed
- batch is written as string (04) because if we write 0 before any figure it will be ommitted automatically so to keep it with the digit we have kept it as a string.

In [46]:
student_name = "Shahzad Hashmi"
student_father_name =  "M. Azam Hashmi"
batch = "04"
university_name = "NED"
age = 30
date_of_admission = "2023-01-16"

# Methods to make a student card from text

In [47]:
student_card = """ 

NED PGD

University Name: 
Student Name: 
Father Name: 
Batch:
Age: 
 
"""

print (student_card)

NED PGD

University Name:
Student Name:
Father Name:
Batch:
Age:

# Method - 1: Through Concatination 

- The text between (""" """) is string
- The text with (+) is text
- So, we use (+) to join both strings and parts
- Color of string ----> Red
- Color of Operators ----> Purple

## In this method the formating is a challenge

In [48]:
student_name = "Shahzad Hashmi"
student_father_name =  "M. Azam Hashmi"
batch = "04"
university_name = "NED"
age = 30
date_of_admission = "2023-01-16"


student_card = """ 

NED PGD

University Name: """ + str (university_name)+ """ Student Name: """ + str (student_name)+ """ 
Student Father Name: """ + str (student_father_name)+ """ Age: """ + str (age)


print (student_card)

NED PGD

University Name: NED Student Name: Shahzad Hashmi
Student Father Name: M. Azam Hashmi Age: 30

# Methods 

- "---".   ----> Write any data type and after that put a dot (.) it will display the methods that can be implemented on that particular type
- Put () after writing the method name need to be applied

In [49]:
a = "Hello World"
print (a)
print ()
print (a.lower ())

Hello World

hello world

# Method - 2: Through Use of "format" Function

## Formation with .format string method

- Here use function {.format()} 
- Put {} infront of place where each variable require
- In .format ()----> write variable names in sequence separated by comma
- Curly brackets {} will put the variable in sequence from .format ()
- {} called the place holder

In [50]:
student_name = "Shahzad Hashmi"
student_father_name =  "M. Azam Hashmi"
batch = "04"
university_name = "NED"
age = 30
date_of_admission = "2023-01-16"


student_card = """ 

NNED PGD

University Name:  {}  Student Name: {}
Father Name: {} Batch: {} Age: {}  
 
 """ .format (university_name, student_name, student_father_name, batch, age)


print (student_card)

NNED PGD

University Name:  NED  Student Name: Shahzad Hashmi
Father Name: M. Azam Hashmi Batch: 04 Age: 30

# Method - 3: Through "Indexing"

In [51]:
student_name = "Shahzad Hashmi"
student_father_name =  "M. Azam Hashmi"
batch = "04"
university_name = "NED"
age = 30
date_of_admission = "2023-01-16"


student_card = """ 

NNED PGD

University Name:  {0}  Student Name: {1}
Father Name: {2} Batch: {3} Age: {4}  
 
 """ .format (university_name, student_name, student_father_name, batch, age)
# Index         0                  1                2              3      4

print (student_card)

NNED PGD

University Name:  NED  Student Name: Shahzad Hashmi
Father Name: M. Azam Hashmi Batch: 04 Age: 30

# Method - 4: Through the use if 'f' before "str (variable_name)

- In this method 'f' is type before "str (variable_name)

In [52]:
student_name = "Shahzad Hashmi"
student_father_name =  "M. Azam Hashmi"
batch = "04"
university_name = "NED"
age = 30
date_of_admission = "2023-01-16"


student_card = f""" 

NNED PGD

University Name:  {university_name}  Student Name: {student_name}
Father Name: {student_father_name} Batch: {batch} Age: {age}  
 
 """ 

print (student_card)

NNED PGD

University Name:  NED  Student Name: Shahzad Hashmi
Father Name: M. Azam Hashmi Batch: 04 Age: 30

# Method - 5: Through the use of %s and %d Place holders

- %s-------> place holder for text/string
- %d-------> place holder for integer/number
- Put % in frond of variable names

In [54]:
student_name = "Shahzad Hashmi"
student_father_name =  "M. Azam Hashmi"
batch = "04"
university_name = "NED"
age = 30
date_of_admission = "2023-01-16"


student_card = """ 

NED PGD

University Name:  %s  Student Name: %s
Father Name: %s Batch: %s Age: %d  
 
 """ % (university_name, student_name, student_father_name, batch, age)

print (student_card)

NNED PGD

University Name:  NED  Student Name: Shahzad Hashmi
Father Name: M. Azam Hashmi Batch: 04 Age: 30

# Print Cards for Multiple Students 

- Install ods reader for reading the excel in Ubuntu

In [69]:
#!pip install pandas_ods_reader

Collecting pandas_ods_reader
  Downloading pandas_ods_reader-0.1.4-py3-none-any.whl (6.7 kB)
Requirement already satisfied: lxml<5.0.0,>=4.6.3 in /home/ubuntu/anaconda3/lib/python3.9/site-packages (from pandas_ods_reader) (4.6.3)
Collecting ezodf<0.4.0,>=0.3.2
  Downloading ezodf-0.3.2.tar.gz (125 kB)
     |████████████████████████████████| 125 kB 151 kB/s eta 0:00:01
Requirement already satisfied: pandas<2.0.0,>=1.0.0 in /home/ubuntu/anaconda3/lib/python3.9/site-packages (from pandas_ods_reader) (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/ubuntu/anaconda3/lib/python3.9/site-packages (from pandas<2.0.0,>=1.0.0->pandas_ods_reader) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /home/ubuntu/anaconda3/lib/python3.9/site-packages (from pandas<2.0.0,>=1.0.0->pandas_ods_reader) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in /home/ubuntu/anaconda3/lib/python3.9/site-packages (from pandas<2.0.0,>=1.0.0->pandas_ods_reader) (1.20.3)
Requirement already satisfied: six>=1.5 in /home/ubuntu/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas<2.0.0,>=1.0.0->pandas_ods_reader) (1.16.0)
Building wheels for collected packages: ezodf
  Building wheel for ezodf (setup.py) ... done
  Created wheel for ezodf: filename=ezodf-0.3.2-py2.py3-none-any.whl size=49004 sha256=ef5ceb37232ad47807b68fe8524a5d749bd537c75dd334c4d4b8edccf4022262
  Stored in directory: /home/ubuntu/.cache/pip/wheels/d0/0e/c2/1af349f0c9e110ed08133a3d579f402f3ec1c031eac80bc084
Successfully built ezodf
Installing collected packages: ezodf, pandas-ods-reader
Successfully installed ezodf-0.3.2 pandas-ods-reader-0.1.4

In [78]:
import pandas as pd
import numpy as np
from pandas_ods_reader import read_ods
base_path = "./Data.ods"
sheet_index = 1
df = read_ods(base_path , sheet_index )

df.head (10)

     ID     Name Course
0  12.0    Ahsan     EE
1   9.0    Hamza     CE
2  13.0    Islam     SE
3  14.0    Aslam     AI
4  15.0   Hammad     PG
5  19.0  Shahzad     AI
6  20.0   Asghar    BBA
7  32.0    Fawad    DPT
8  28.0     Taha     CS

In [83]:
for ID, Name, Course in df.values:
    card = f"""
    
    NED Student Card
    
    ID: {ID}
    Name: {Name}
    Course: {Course}
    """
    print (card)
    print ("------------------------------------")

    NED Student Card

    ID: 12.0
    Name: Ahsan
    Course: EE

------------------------------------


    NED Student Card

    ID: 9.0
    Name: Hamza
    Course: CE

------------------------------------


    NED Student Card

    ID: 13.0
    Name: Islam
    Course: SE

------------------------------------


    NED Student Card

    ID: 14.0
    Name: Aslam
    Course: AI

------------------------------------


    NED Student Card

    ID: 15.0
    Name: Hammad
    Course: PG

------------------------------------


    NED Student Card

    ID: 19.0
    Name: Shahzad
    Course: AI

------------------------------------


    NED Student Card

    ID: 20.0
    Name: Asghar
    Course: BBA

------------------------------------


    NED Student Card

    ID: 32.0
    Name: Fawad
    Course: DPT

------------------------------------


    NED Student Card

    ID: 28.0
    Name: Taha
    Course: CS

------------------------------------

# Help

In [84]:
help (print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [85]:
?help

In [87]:
help??

In [ ]:
help?

In [ ]:
# Function name () and press shift + Tab

# Visualise all Methods and Functions of a Datatype

In [88]:
dir (str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [89]:
dir (int)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [92]:
a = "Pakistan is mY StrenGth"
print (a.capitalize ())

Pakistan is my strength

In [94]:
print (a.casefold ())

pakistan is my strength

In [96]:
print (a.center(50))

             Pakistan is mY StrenGth

In [102]:
print (a.count('a'))
print (a.count (''))

2
24

In [99]:
print (a.encode())

b'Pakistan is mY StrenGth'

In [107]:
a = "      This is my Turn "
print (a.lstrip ())
print (a.rstrip ())
print (a.strip ())

This is my Turn
      This is my Turn
This is my Turn

In [113]:
a = "This is my Turn" .upper ()
print (a)
print (a.endswith ('bad'))
print (a.endswith ('Turn'))
print (a.endswith ('TURN'))

THIS IS MY TURN
False
False
True

In [114]:
a = "This is my Turn" .upper ()
print (a)
print (a.startswith ('This'))
print (a.startswith ('THIS'))

THIS IS MY TURN
False
True

In [118]:
card = """ Name: \t Shahzad

Class: \t PGD
"""

print (card)
print(card.expandtabs (5))

 Name: 	 Shahzad

Class: 	 PGD

 Name:     Shahzad

Class:     PGD