# Operators Types in Python 
* Arithmetic operators.
* Assignment operators.
* Comparison operators.
* Logical operators.
* Identity operators.
* Membership operators.
* Bitwise operators.

# Arithmetic Operators

In [1]:
5 + 2
3 + 7

10

## If we write anything without "print" python will return only the last line as mentioned in previous block in which only the result of 3 + 7 has been returned

## To view all the results in block we use "print"

In [2]:
print (5 + 2)
print (3 + 7)

7
10

In [3]:
7 + 3 + 2 + 5

17

(7 + 3) + 2 + 5
10 + 2 + 5
(10 + 2) + 5
12 + 5
17

* The addition will be performed in 3 step in this case

In [4]:
8 - 3

5

#### + With String Data Type

In [6]:
"Shahzad " + "Hashmi"

'Shahzad Hashmi'

In [7]:
"1" + 2

TypeError: can only concatenate str (not "int") to str

In [8]:
1 + "2"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

## Solution of Above Error is "Type Casting"

* Convert from string to integer ------> int ("string")
* Convert from integer to string ------> str (int)

In [9]:
# "1" + 2

"1" + str (2)

'12'

In [10]:
# "1" + 2

int ("1") + 2

3

## + With List

In [11]:
l1 = ['q', 's', 't']
l2 = ['m','k', 'j']

l1 + l2

['q', 's', 't', 'm', 'k', 'j']

# Asterik Sign

* Operates with Numbers
* Operates with Number and String

In [12]:
2 * 3 # Multiplication in Numbers

6

In [14]:
"Shahzad " * 2 # Repetation in String

'Shahzad Shahzad '

In [20]:
2 * "Shahzad "  # Repetation in String

'Shahzad Shahzad '

In [15]:
['z'] * 6 # Repetation in List elements

['z', 'z', 'z', 'z', 'z', 'z']

In [16]:
['z', 't'] * 6 # Repetation in List elements

['z', 't', 'z', 't', 'z', 't', 'z', 't', 'z', 't', 'z', 't']

In [18]:
("a ") * 3 # Repetation in Tuple elements

'a a a '

In [19]:
("a", "c") * 3 # Repetation in Tuple elements

('a', 'c', 'a', 'c', 'a', 'c')

In [21]:
a = """ Pakistan 
Army 
 
 is 
 
 Best


""" * 3


print (a)

 Pakistan
Army

 is

 Best


 Pakistan
Army

 is

 Best


 Pakistan
Army

 is

 Best

# ' / ' Divide

In [24]:
a = 27 / 3    # Answer in Float
b = 23 /3 

print (a)
print (b)

9.0
7.666666666666667

## To take the answer in integer use '//' instead of '/'

* It will not round off
* Just returns the integer value

In [25]:
c = 27 // 3
d = 23 // 3

print (c)
print (d)

9
7

# '%' Modulus

In [26]:
11 % 3

2

# '**' Exponentiation

In [27]:
2 ** 2

4

In [28]:
3 ** 2

9

In [29]:
3 ** 3

27

# Assignment Operators

## Assign Operator '='

In [30]:
a = 6        # If change here will change all placeholder of variable
print (a)
print (a)
print (a)

6
6
6

In [31]:
a = 6
a = 7
a = 9

print (a)

9

In [39]:
a = 10


a = a + 2
print (a)

12

In [40]:
a = 10


a += 2
print (a)

12

## It is possible to use these short forms

* +=
* -=
* *=
* /=
* //=
* %=

# Ordinary Operators

* Use in Binary

# Python Comparison Operator 

* Answer will be returned in "True" and "False"

In [41]:
2 == 2

True

In [42]:
2 == 5

False

In [43]:
2 == "2"

False

In [44]:
2 > 7

False

In [45]:
2 < 7

True

In [46]:
5 > 5

False

In [47]:
5 >= 5

True

In [48]:
2 != 2  # Left 2 not equal to Right 2

False

In [49]:
5 <= 5

True

# Logical Operator

* And ----> Necessarily
* Or -----> Optional
* And will return "True" if all values are True
* Or will return "True" if only one value is True

## And

In [50]:
True and True and True

True

In [51]:
True and False and True

False

In [53]:
user = input ("Please Enter User Name")    # Take input from the user in runtime
password = input ("Please Enter Your Password")

print ()
print (user)
print()
print (password)

Please Enter User NameShahzad
Please Enter Your Password123

Shahzad

123

In [57]:
user = input ("Please Enter User Name  ")    # Take input from the user in runtime
password = input ("Please Enter Your Password  ")

user == "admin" and password == "admin12"

Please Enter User Name  admin
Please Enter Your Password  admin12

True

## OR

In [58]:
True or False

True

In [59]:
False or False

False

## Not

* It will check and return true if one thing is not equal to the other

In [61]:
a = "Shah"
not a == "Azam"

True

In [62]:
a = "Shah"
not a == "Shah"

False

# Identity Operator

In [63]:
a = 6
b = 6

print (id (a))
print (id (b))

2153801345488
2153801345488

In [64]:
a == b # Compare the values in a and b

True

In [66]:
a is b # Compare either the object a and b are same or not

True

In [68]:
a is not b

False

# Membership Operator

* in
* not in

In [69]:
a = """ Women make up nearly half of our country’s population. All serious research done in any part of the world shows that women are the driving force of positive change, progress, and prosperity at the household, community, and country levels.

This is the case for decisions about investments in children’s education and health, savings for the family, performance at work, and more. But have we learnt anything from such compelling evidence?

Let us compare our current position and historical course over time with Bangladesh — once part of us and our natural equivalent — to understand how we fare on the women empowerment front.

It is now widely recognised that Bangladesh’s export-led economic growth owes largely to the labour of its women — their skills, need-based grit to support their families, and confidence that they too can compete globally.

Could they do it without the support of their men at home, in the community, and those at the helm of their country’s affairs? Perhaps not. But could Bangladesh have achieved economic success without its women? Absolutely not."""

print (a)

 Women make up nearly half of our country’s population. All serious research done in any part of the world shows that women are the driving force of positive change, progress, and prosperity at the household, community, and country levels.

This is the case for decisions about investments in children’s education and health, savings for the family, performance at work, and more. But have we learnt anything from such compelling evidence?

Let us compare our current position and historical course over time with Bangladesh — once part of us and our natural equivalent — to understand how we fare on the women empowerment front.

It is now widely recognised that Bangladesh’s export-led economic growth owes largely to the labour of its women — their skills, need-based grit to support their families, and confidence that they too can compete globally.

Could they do it without the support of their men at home, in the community, and those at the helm of their country’s affairs? Perhaps not. But could Bangladesh have achieved economic success without its women? Absolutely not.

In [70]:
"export" in a   # Contain Search

True

In [71]:
"Pakistan" in a

False

In [72]:
"Pakistan" not in a

True

In [74]:
"pos" in a

True

In [75]:
names = ['shahzad', 'hammad', 'fawad', 'musa']

"hammad" in names

True

In [76]:
"Junaid" not in names

True