# Markdown
Markdown is a language like HTML. **Markdown Cheatsheet**
https://www.markdownguide.org/cheat-sheet/

# Pre-defined function  

"function_name ()"
()...> it represent the function
-print()
-len()
-dir()
-type()

# Data Type

- integer int 
- float 
- string "Pakistan"

In [1]:
print ("Pakistan")    #press shift + tab in paranthesis for help 
            # In Colab cntrl + spacebar

Pakistan

String can be written in multiple ways as follows,

1. "Pakistan"
2. 'Pakistan'
3. '''Pakistan'''
4. """Palistan"""

In [2]:
print('''Pakistan''')

Pakistan

Interger or number reqire no quotation marks for printing

In [3]:
print (2)

2

In [4]:
print (7)

7

In [5]:
print ("China", "Pakistan", 29, 40) # Multiple values can be printed

China Pakistan 29 40

# Variable

- Things that change. We use that attributes as variable that changes like name, father_name etc.
- Operators necessary for correct program

variable_name = variable_value

- variable name will be defined directly without any quote and will be called in program directly without any quote.
- the beenfit of variable is that it will be automatically change in entire program by changing its value at defining stage. 
- print (variable name)

In [6]:
a = 200
print(a)
print ("pakistan")
print (a)
print ("values")

200
pakistan
200
values

# Card System

In [9]:
Name = "Shahzad Hashmi"
Father_name = "M.Azam Hashmi"
Weight = 83 

print ("Ned Student Card")
print ("Name: ", Name)
print ("Father Name", Father_name)
print ("Weight: ", Weight)

Ned Student Card
Name:  Shahzad Hashmi
Father Name M.Azam Hashmi
Weight:  83

# Print in a Single Line

- It is possible to print everything in using singleline. 
- It is necessary to put ***semicolon (;)*** after each particular print statement

In [10]:
print ("Ned Student Card"); print ("Name: ", Name); print ("Father Name", Father_name); print ("Weight: ", Weight)

Ned Student Card
Name:  Shahzad Hashmi
Father Name M.Azam Hashmi
Weight:  83

In [11]:
a = 200
print(a, "pakistan", a, "values") # Drawback of this is that it has poor readability
                                  # Defult seperator is ' ' (Space). Using shit + tab this can be viewed
                                  # To make it readable "Seperator" will be changed

200 pakistan 200 values

# Seperator

- Purpose of separator (sep = ' ') is to manage the seperation of each argument's outcome

In [12]:
a = 200
print(a, "pakistan", a, "values", sep = '\n')

200
pakistan
200
values

In [13]:
a = 200
print(a, "pakistan", a, "values", sep = '***')

200***pakistan***200***values

In [21]:
a = 200
print(a, "pakistan", a, "values", sep = '*** \n')

200***
pakistan***
200***
values

# Actions with print

- type ..... shows the data type
- id   ..... shows the memory location where variable is stored by the machine

In [23]:
Name = "Shahzad Hashmi"
Father_name = "M.Azam Hashmi"
Weight = 83 

#print ("Ned Student Card")
print ("Name: ", Name)
print (type (Name))
print (id (Name))
#print ("Father Name", Father_name)
#print ("Weight: ", Weight)

Name:  Shahzad Hashmi
<class 'str'>
139839981254896

In [24]:
Name = "Shahzad Hashmi"
Father_name = "M.Azam Hashmi"
Weight = 83 

#print ("Ned Student Card")
print ("Weight: ", Weight)
print (type (Weight))
print (id (Weight))
#print ("Father Name", Father_name)
#print ("Weight: ", Weight)

Weight:  83
<class 'int'>
139840064160688

In [25]:
b = True 

#print ("Ned Student Card")
print (a)
print (type (b))
print (id (b))
#print ("Father Name", Father_name)
#print ("Weight: ", Weight)

200
<class 'bool'>
94831271721984

# String Data Type with Variable and Text Formation

- problem with single quote...... 'Father's_Name' -----> it will read the the string only till Father and will consider the string close before s. 
## 1 
1. The solution is to use the double quote for string representation to avoid such apostrphy cases.

In [28]:
c = "Pakistan Zindabad"  # Double quote
d = 'Pakistan Zindabad'  # Single quote
print (c, d, sep = '\n')

Pakistan Zindabad
Pakistan Zindabad

## 2 
Another solution is to put "\" (Back Slash) before the special character. It will convert the special character to the normal one

In [33]:
f = 'Pakistan \'s Identity'   # Special character converted to the normal character
print (f)

Pakistan 's Identity

# Tripple Quote ("""   ______  """)

- Multiple line String

In [30]:
e = """Pakistan is a underdeveloped
country that have been blessed with number of 
resources!"""

print (e)
print (type (e))

Pakistan is a underdeveloped
country that have been blessed with number of
resources!
<class 'str'>

# ID Card

## 1

In [36]:
id_card = " Name\n Father_name \n Class\n"    # Readability issues

print (id_card)

 Name
 Father_name
 Class

## 2

In [41]:
id_card = """Name = "Shahzad Hashmi
Father_name = "M.Azam Hashmi"
Weight = 83 """

print (id_card)

Name = "Shahzad Hashmi
Father_name = "M.Azam Hashmi"
Weight = 83

In [44]:
id_card = '''Name = Shahzad Hashmi
Father_name = "M.Azam Hashmi
Weight = 83 '''

print (id_card)

Name = Shahzad Hashmi
Father_name = "M.Azam Hashmi
Weight = 83

# Concatination

In [47]:
f_name = "Shahzad Hashmi"
l_name = "M.Azam Hashmi"
Weight = 83 

id_card = f_name + l_name

print (id_card)                    # No spacing between first and second name

Shahzad HashmiM.Azam Hashmi

In [48]:
f_name = "Shahzad Hashmi"
l_name = "M.Azam Hashmi"
Weight = 83 

id_card = f_name + " "+ l_name      # Providing space between two words

print (id_card)                    # No spacing between first and second name

Shahzad Hashmi M.Azam Hashmi

# String and Integer can be joined through type casting

In [49]:
_name = "Shahzad Hashmi"
l_name = "M.Azam Hashmi"
Weight = 83 

id_card = f_name + " "+ Weight      # str + int

print (id_card)                    # Error

TypeError: can only concatenate str (not "int") to str

## Type Casting on Integer

- Through type casting the integer is converted to string for concatination to be used in program

In [57]:
f_name = "Shahzad Hashmi"
l_name = "M.Azam Hashmi"
Weight = 83 

id_card = f_name + " , " + str (Weight)      # str + str (int)------> Type Casting ===> No. to String 
                                             # ',' between to make it more readable

print (id_card)                    # Error

Shahzad Hashmi , 83

In [68]:
f_name = "Shahzad Hashmi"
l_name = "M.Azam Hashmi"
Weight = 83 
id_card = "NED University \n Student Name:  " +f_name+ " \n Father Name:  "  +l_name+ "\n Weight: " " " + str (Weight) 
print (id_card)

NED University
 Student Name:  Shahzad Hashmi
 Father Name:  M.Azam Hashmi
 Weight:  83