# Syntax of Dictionary

{  key1: Value1,
   key2: Value2,   
}

* Pair of key and value
* indication {}
* : use as separater between key and value
* , use as separater between the pairs of key and value
* Key data types could be specifically ----> int and str
* Value can be any data type

# Why we require dictionary

* In List to approch any data a person must need the index number of a particular data
* Index number could be in millions
* To avoid this the dictionary is require through which the data can be searched by using any key
* So, in dictionary we replace index with key

In [6]:
data = {"Name":"Shahzad", 
        "Father_Name": "M. Azam",
         "Age": 30,
          "Education": "PGDIDS",
           1: "University"}
print (data)

{'Name': 'Shahzad', 'Father_Name': 'M. Azam', 'Age': 30, 'Education': 'PGDIDS', 1: 'University'}

# Access Value from Dictionary

### Dictionary[key]

In [8]:
data["Name"]

'Shahzad'

In [10]:
data["Father_Name"]

'M. Azam'

In [11]:
data[1] # Look like passing index but it is a key

'University'

# Dictionary was actually made to sent the data on website in Jason format

## Example

* https://dummyjson.com/products

In [13]:
data = {"Names": ["Hamza","Usman", "Islam"],
        "Fname": ["A", "B", "C"],
        "Course": ["ML", "DS", "HR"]
       }
import pandas as pd

df= pd.DataFrame(data)
print(df)

   Names Fname Course
0  Hamza     A     ML
1  Usman     B     DS
2  Islam     C     HR

# Read Jason Data from Website Directly

In [15]:
df1 = pd.read_json(r"https://dummyjson.com/products")
print(df1)

df1.head()

                                             products  total  skip  limit
0   {'id': 1, 'title': 'iPhone 9', 'description': ...    100     0     30
1   {'id': 2, 'title': 'iPhone X', 'description': ...    100     0     30
2   {'id': 3, 'title': 'Samsung Universe 9', 'desc...    100     0     30
3   {'id': 4, 'title': 'OPPOF19', 'description': '...    100     0     30
4   {'id': 5, 'title': 'Huawei P30', 'description'...    100     0     30
5   {'id': 6, 'title': 'MacBook Pro', 'description...    100     0     30
6   {'id': 7, 'title': 'Samsung Galaxy Book', 'des...    100     0     30
7   {'id': 8, 'title': 'Microsoft Surface Laptop 4...    100     0     30
8   {'id': 9, 'title': 'Infinix INBOOK', 'descript...    100     0     30
9   {'id': 10, 'title': 'HP Pavilion 15-DK1056WM',...    100     0     30
10  {'id': 11, 'title': 'perfume Oil', 'descriptio...    100     0     30
11  {'id': 12, 'title': 'Brown Perfume', 'descript...    100     0     30
12  {'id': 13, 'title': 'Fog Scent Xpressio Perfum...    100     0     30
13  {'id': 14, 'title': 'Non-Alcoholic Concentrate...    100     0     30
14  {'id': 15, 'title': 'Eau De Perfume Spray', 'd...    100     0     30
15  {'id': 16, 'title': 'Hyaluronic Acid Serum', '...    100     0     30
16  {'id': 17, 'title': 'Tree Oil 30ml', 'descript...    100     0     30
17  {'id': 18, 'title': 'Oil Free Moisturizer 100m...    100     0     30
18  {'id': 19, 'title': 'Skin Beauty Serum.', 'des...    100     0     30
19  {'id': 20, 'title': 'Freckle Treatment Cream- ...    100     0     30
20  {'id': 21, 'title': '- Daal Masoor 500 grams',...    100     0     30
21  {'id': 22, 'title': 'Elbow Macaroni - 400 gm',...    100     0     30
22  {'id': 23, 'title': 'Orange Essence Food Flavo...    100     0     30
23  {'id': 24, 'title': 'cereals muesli fruit nuts...    100     0     30
24  {'id': 25, 'title': 'Gulab Powder 50 Gram', 'd...    100     0     30
25  {'id': 26, 'title': 'Plant Hanger For Home', '...    100     0     30
26  {'id': 27, 'title': 'Flying Wooden Bird', 'des...    100     0     30
27  {'id': 28, 'title': '3D Embellishment Art Lamp...    100     0     30
28  {'id': 29, 'title': 'Handcraft Chinese style',...    100     0     30
29  {'id': 30, 'title': 'Key Holder', 'description...    100     0     30

                                            products  total  skip  limit
0  {'id': 1, 'title': 'iPhone 9', 'description': ...    100     0     30
1  {'id': 2, 'title': 'iPhone X', 'description': ...    100     0     30
2  {'id': 3, 'title': 'Samsung Universe 9', 'desc...    100     0     30
3  {'id': 4, 'title': 'OPPOF19', 'description': '...    100     0     30
4  {'id': 5, 'title': 'Huawei P30', 'description'...    100     0     30

# Methods to Insert Data in Empty Dictionary

## If there is no such value that we are searching in dictionary it will give error

In [17]:
d = {}

d["Name"]

print(d)

KeyError: 'Name'

## Python provides a method to add such anonyms thing in dictionary by d[key] = "Value"

# Insert the values in empty dictionary

In [26]:
d = {}

d["Name"] = "Shahzad"
d["age"] = 30

print(d)

{'Name': 'Shahzad', 'age': 30}
<class 'dict'>

In [20]:
d = {}

d["Name"] = "Shahzad"
d["age"] = 30
d["Name"] = "Pakistan"

print(d)

{'Name': 'Pakistan', 'age': 30}

In [25]:
e = {}

e["Name"] = "Shahzad"
e["Age"] = 30
e["Desg."]= "Lect"

print(e)

e["Name"] = e["Name"] +  " Hashmi"
print(e)

{'Name': 'Shahzad', 'Age': 30, 'Desg.': 'Lect'}
{'Name': 'Shahzad Hashmi', 'Age': 30, 'Desg.': 'Lect'}

In [28]:
a = 'Pakistan'
print(type(a))

<class 'str'>

In [29]:
dir(e)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

# Clear 

* Clear all the data from the dictionary it will return empty list but will retain the variable

In [31]:
data = {"Name":"Shahzad", 
        "Father_Name": "M. Azam",
         "Age": 30,
          "Education": "PGDIDS",
           1: "University"}
print (data)
print ()
data.clear()
print(data)

{'Name': 'Shahzad', 'Father_Name': 'M. Azam', 'Age': 30, 'Education': 'PGDIDS', 1: 'University'}

{}

# del function 

* It will remove the variable in which the dictionary is stored

In [32]:
data = {"Name":"Shahzad", 
        "Father_Name": "M. Azam",
         "Age": 30,
          "Education": "PGDIDS",
           1: "University"}
print (data)
print ()
del data
print(data)

{'Name': 'Shahzad', 'Father_Name': 'M. Azam', 'Age': 30, 'Education': 'PGDIDS', 1: 'University'}

NameError: name 'data' is not defined

# Shallow Copy 

### If the data has multiple names (nick names) but the attributes of the data is same. In this type of record if we make changes to any data it will implement it in all copies


# Deep Copy

### It is a separate entity and if we change in deep copy it will only be remain changed in that particular copy

In [34]:
data = {"Name":"Shahzad", 
        "Father_Name": "M. Azam",
         "Age": 30,
          "Education": "PGDIDS",
           1: "University"}

data1 = data # Shallow copy
data2 = data # Shallow copy
data3 = data # Shallow copy

print (data1)
print (data2)
print (data3)

{'Name': 'Shahzad', 'Father_Name': 'M. Azam', 'Age': 30, 'Education': 'PGDIDS', 1: 'University'}
{'Name': 'Shahzad', 'Father_Name': 'M. Azam', 'Age': 30, 'Education': 'PGDIDS', 1: 'University'}
{'Name': 'Shahzad', 'Father_Name': 'M. Azam', 'Age': 30, 'Education': 'PGDIDS', 1: 'University'}

In [37]:
data3 ["Name"]= "Hashmi"
print (data1)
print (data2)
print (data3)

{'Name': 'Hashmi', 'Father_Name': 'M. Azam', 'Age': 30, 'Education': 'PGDIDS', 1: 'University'}
{'Name': 'Hashmi', 'Father_Name': 'M. Azam', 'Age': 30, 'Education': 'PGDIDS', 1: 'University'}
{'Name': 'Hashmi', 'Father_Name': 'M. Azam', 'Age': 30, 'Education': 'PGDIDS', 1: 'University'}

# Using .copy function

### Using .copy function we can create deep copy and it will only change in that single copy

In [40]:
data = {"Name":"Shahzad", 
        "Father_Name": "M. Azam",
         "Age": 30,
          "Education": "PGDIDS",
           1: "University"}

data1 = data.copy () # deep copy
data2 = data.copy () # deep copy
data3 = data.copy () # deep copy

print (data1)
print (data2)
print (data3)

print()
print()
print()

data3 ["Name"]= "Hashmi"
print (data1)
print()
print (data2)
print()
print (data3)

{'Name': 'Shahzad', 'Father_Name': 'M. Azam', 'Age': 30, 'Education': 'PGDIDS', 1: 'University'}
{'Name': 'Shahzad', 'Father_Name': 'M. Azam', 'Age': 30, 'Education': 'PGDIDS', 1: 'University'}
{'Name': 'Shahzad', 'Father_Name': 'M. Azam', 'Age': 30, 'Education': 'PGDIDS', 1: 'University'}



{'Name': 'Shahzad', 'Father_Name': 'M. Azam', 'Age': 30, 'Education': 'PGDIDS', 1: 'University'}

{'Name': 'Shahzad', 'Father_Name': 'M. Azam', 'Age': 30, 'Education': 'PGDIDS', 1: 'University'}

{'Name': 'Hashmi', 'Father_Name': 'M. Azam', 'Age': 30, 'Education': 'PGDIDS', 1: 'University'}

# Creating a dictionary from list of keys

### There is a method in dictionay '.keys' in which we pass on the list of keys to make dictionary

* dict.fromkeys(variable)

In [41]:
keys = ["Name", "Fathername"]
a=dict.fromkeys(keys)
print(a)

{'Name': None, 'Fathername': None}

# If we want to replace none with not available

In [42]:
keys = ["Name", "Fathername"]
a=dict.fromkeys(keys, "Not Available")
print(a)

{'Name': 'Not Available', 'Fathername': 'Not Available'}

# If Key is not available it shows the error

* Python is interpreter language and it executes line by line so it stops where it finds the error and will not execute the next statements

In [43]:
data = {"Name":"Shahzad", 
        "Father_Name": "M. Azam",
         "Age": 30,
          "Education": "PGDIDS",
           1: "University"}

data[cnic]
print("Pak")
print("Tamp")

NameError: name 'cnic' is not defined

# Dictionary has the function .get that will bypass the missing key

In [47]:
data = {"Name":"Shahzad", 
        "Father_Name": "M. Azam",
         "Age": 30,
          "Education": "PGDIDS",
           1: "University"}

print(data.get("cnic", "Not Available"))
print("Pak")
print("Tamp")

Not Available
Pak
Tamp

data = {"Name":"Shahzad", 
        "Father_Name": "M. Azam",
         "Age": 30,
          "Education": "PGDIDS",
           1: "University"}

print(data.get("Name"))
print("Pak")
print("Tamp")

# Item Key Values

## Item---> It will retur each key value pair in a tupple "data.item"
## data.keys---> it will return the keys
## data.value---> it will return the values

In [50]:
data = {"Name":"Shahzad", 
        "Father_Name": "M. Azam",
         "Age": 30,
          "Education": "PGDIDS",
           1: "University"}

data.items ()

dict_items([('Name', 'Shahzad'), ('Father_Name', 'M. Azam'), ('Age', 30), ('Education', 'PGDIDS'), (1, 'University')])

In [51]:
data = {"Name":"Shahzad", 
        "Father_Name": "M. Azam",
         "Age": 30,
          "Education": "PGDIDS",
           1: "University"}

data.keys()

dict_keys(['Name', 'Father_Name', 'Age', 'Education', 1])

In [52]:
data.values()

dict_values(['Shahzad', 'M. Azam', 30, 'PGDIDS', 'University'])